doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom Clone
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.14.0/mvp.css")
    body 
        h1 Zoom Clone
        main 
            form#nickname
                input(type="text", placeholder="enter a nickname" reguired)
                button Save
            form#message
                input(type="text", placeholder="write a msg" reguired)
                button Send
            ul
        script(src="/public/js/app.js")
        button Call